<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Four Days of Hands-On Workshops</h2>
                <hr class="light">
                <p class="text-faded">The GC Digital Research Bootcamp is a four
                 day workshop where you will learn how to use a range of tools
                 and methods for doing digital research. There are multiple tracks
                 targeted at different skillsets and disciplinary focuses.</p>
                <a href="#apply" class="btn btn-default btn-xl">Apply Now!</a>
            </div>
        </div>
    </div>
</section>
