<footer class="container">

  <div class="row">
    <div class="col-md-4">
      <h3>{{ site.description }}</h3>

      <ul class="nav nav-stacked nav-pills">
      {% include nav-menu.html menu="footer" %}
      </ul>
    </div>

    <div class="col-md-4 text-center">
      <h3>About Us</h3>
      <p>The GC Digital Fellows Program operates as an in-house think-and-do tank for digital projects, connecting Fellows to digital initiatives throughout The Graduate Center.</p>
      <p>
        <a href="{{site.author.uri}}"><i class="fa fa-globe fa-2x"></i></a>
        <a href="https://twitter.com/{{site.author.twitter}}"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="{{site.author.github}}"><i class="fa fa-github fa-2x"></i></a>
      </p>
      <p class="footer-company-name"><a href="{{site.author.uri}}">{{ site.author.name}}</a> © 2015</p>
    </div>

    <div class="col-md-4 text-right">
      <h3>GC Digital Fellows</h3>
      <p>Digital Scholarship Lab, Room 7414<br />
      The Graduate Center, CUNY<br />
      365 Fifth Avenue<br />
      New York, NY 10016<br />
    </div>
  </div>
</footer>
