<div class="container">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
      <a class="navbar-brand page-scroll" href="#page-top" title="{{ site.description }}">
        <img class="site-logo" src="{{site.baseurl}}/assets/images/gcdrb-logo.png" alt="{{ site.title }}">
      </a>
      <ul class="nav navbar-nav pull-right">
      {% include nav-menu.html menu=include.menu %}
      </ul>
    </div>
  </nav>
</div>
