<section id="topics">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Topics</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card-columns">
        <div class="card card-block text-center">
          <span class="fa-stack fa-2x wow bounceIn text-primary">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="card-title">*nix Command Line</h4>
          <p class="card-text">Open up new possibilities for completing complex
          tasks with just a few keystrokes. And look like a hacker while you're at it!</p>
          <a class="btn btn-primary" href="workshops/#terminal">More</a>
        </div>
        <div class="card card-block text-center">
          <span class="fa-stack fa-2x wow bounceIn text-primary" data-wow-delay=".1s">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="card-title">Version Control with Git</h4>
          <p class="text-card">Version control systems allow teams and individuals to
          track changes in a project and collaborate with others.</p>
          <a class="btn btn-primary" href="workshops/#git">More</a>
        </div>
        <div class="card card-block text-center">
          <span class="fa-stack fa-2x wow bounceIn text-primary" data-wow-delay=".2s">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa icon-python fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="card-title">Python</h4>
          <p class="card-text">Python is a programming language that can be used
          for a wide range of tasks, from collecting data to analysis to building
          web applications.</p>
          <a class="btn btn-primary" href="workshops/#python">More</a>
        </div>
        <div class="card card-block text-center">
          <span class="fa-stack fa-2x wow bounceIn text-primary" data-wow-delay=".3s">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-user-secret fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="card-title">Digital Identity</h4>
          <p class="card-text">Gain some control over how people encounter you and
          your research on the web.</p>
          <a class="btn btn-primary" href="workshops/#identity">More</a>
        </div>
        <div class="card card-block text-center">
          <span class="fa-stack fa-2x wow bounceIn text-primary" data-wow-delay=".4s">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="card-title">Data Visualization</h4>
          <p class="card-text">Create aesthetically appealing narratives to share
          the results of your research.</p>
          <a class="btn btn-primary" href="workshops/#visualization">More</a>
        </div>
        <div class="card card-block text-center">
          <span class="fa-stack fa-2x wow bounceIn text-primary" data-wow-delay=".5s">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-database fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="card-title">Databases</h4>
          <p class="card-text">Data are essential to many digital projects, so managing
          that data and learning how to seamlessly integrate it into your projects
          is foundational to digital research.</p>
          <a class="btn btn-primary" href="workshops/#databases">More</a>
        </div>
      </div>
    </div>
  </div>
</section>
