---
layout: default
title: 
permalink: /drb/
header: header-2
---
<!-- <header class="header&#45;2"> -->
<!--   <div class="header&#45;content"> -->
<!--     <div class="header&#45;content&#45;inner"> -->
<!--         <h1 class="display&#45;1 text&#45;primary">The Digital Research Bootcamp</h1> -->
<!--         <h2 class="m&#45;t&#45;3">January 19&#45;22, 2016</h2> -->
<!--         <h2 class="">The Graduate Center, CUNY</h2> -->
<!--         <hr class="hr hr&#45;primary m&#45;y&#45;2"> -->
<!--     </div> -->
<!--   </div> -->
<!-- </header> -->
<!--  -->
<!-- <main> -->
<section class="" id="landing">
  <div class="container">
    <div class="row row-heading">
        <h1 class="display-0 text-primary">The Digital Research Bootcamp</h1>
        <h2 class="text-primary m-t-3">January 19-22, 2016</h2>
        <h2 class="text-primary ">The Graduate Center, CUNY</h2>
        <hr class="hr hr-primary m-y-2">
    </div>
    <div class="row row-paded">
        <p>The inaugural GC Digital Research Bootcamp took place over four days in January 2016. It provided participants with an opportunity to develop digital research skills and connect with others in an interdisciplinary environment. The workshops introduced a range of digital tools and methods for doing research, with multiple tracks targeted at different skillsets and disciplinary focuses.</p>
        <p>Free of charge to participants, the GC Digital Research Bootcamp was developed in partnership with Software Carpentry, the New York Public Library, Mozilla Science Lab, Humanities Intensive Learning and Teaching, and the Digital Humanities Summer Institute thanks to the sponsorship of GCDI, The Graduate Center, and The CUNY Strategic Investment Initiatives Program.</p>
        <p>Instructors included volunteers from Software Carpentry, members of the GCDI community, as well as current and past GC Digital Fellows.</p>
        <p>Interest in the Bootcamp surpassed our expectations—we received more than three times the number of applicants as there were available spots. Applicants were selected for participation based on numerous factors, and applicants who were not selected will automatically be considered for future programs as space allows.</p>
    </div>
    <div class="row m-t-2">
      <div class="col-xs-12 col-md-5 offset-md-1 text-xs-center text-md-right">
        <a href="#workshops" class="page-scroll m-a-1 btn btn-success">Explore Past Workshops</a>
      </div>
      <div class="col-xs-12 col-md-5 text-xs-center text-md-left">
        <a href="#schedule" class="page-scroll m-a-1 btn btn-success">See the Previous Schedule</a>
      </div>
      <div class="col-xs-12 col-md-6 offset-md-3 text-xs-center">
        <a href="{{ '/' | prepend: site.baseurl }}" class="m-a-1 btn btn-outline-primary">Return Home</a>
      </div>
    </div>
  </div>
</section>

<section id="workshops">
  <div class="container">
    {% include section-header.html title="Past Workshops" color="primary" %}
    <p>The following are the workshops that were offered during the Digital Research Bootcamp in January 2016. Please note that <strong>future Digital Research Institutes will offer different workshops</strong>. This is an archive of our previous offerings to give you a sense of the types of materials and topics you might expect from future programs. Additionally, future workshops will likely utilize a different structure, incorporate different materials and examples, and cover different topic areas even if the workshops are similarly titled.</p>
    <div class="row m-t-3">
      <div class="col-md-10 offset-md-1">
        <div class="landing" id="terminal">
          <div class="card">
            <div class="card-block">
              <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Command Line">
                <a href="#page-top" class="btn btn-success page-scroll"><i class="fa fa-chevron-up"></i></a>
                <!-- <a href="http://github.com/gcdigitalfellows/gcdrb-command-line"
                  class="btn btn-success"><i class="fa fa-github"></i></a> -->
              </div>
              <h4 class="card-title">Command Line</h4>
              <p class="card-text">Introduction to the UNIX command line. Topics covered will include navigating the filesystem, manipulating the environment, executing useful commands, and using pipes to communicate between programs. This session will teach you how to communicate directly with your computer’s operating system using a text-based interface and is a useful first step in learning many other technical skills. For more information, visit: http://swcarpentry.github.io/shell-novice/</p>
            </div>
          </div>
        </div>
        <div class="landing" id="git">
          <div class="card">
            <div class="card-block">
              <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Git">
                <a href="#page-top" class="btn btn-success page-scroll"><i class="fa fa-chevron-up"></i></a>
                <!-- <a href="http://github.com/gcdigitalfellows/gcdrb-git"
                  class="btn btn-success"><i class="fa fa-github"></i></a> -->
              </div>
              <h4 class="card-title">Git and GitHub</h4>
              <p class="card-text">Git is a tool for managing changes to a set of files. It allows users to access open source repositories, recover earlier versions of a project, and collaborate with other contributors. This session will be beneficial to anyone working with data, code, or text. For more information, visit: http://swcarpentry.github.io/git-novice/</p>
            </div>
          </div>
        </div>
        <div class="landing" id="python">
          <div class="card">
            <div class="card-block">
              <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Python">
                <a href="#page-top" class="btn btn-success page-scroll"><i class="fa fa-chevron-up"></i></a>
                <!-- <a href="http://github.com/gcdigitalfellows/gcdrb-python"
                  class="btn btn-success"><i class="fa fa-github"></i></a> -->
              </div>
              <h4 class="card-title">Python</h4>
              <p class="card-text">Python is a programming language that can be used for a wide range of tasks, including collecting and analyzing data and building web applications. It is likely the most popular language for academic researchers. This session will be useful for anyone who wants to take a programmatic approach to research. For more information visit: http://swcarpentry.github.io/python-novice-inflammation/
              </p>
            </div>
          </div>
        </div>
        <div class="landing" id="data">
          <div class="card">
            <div class="card-block">
              <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Data Cleaning">
                <a href="#page-top" class="btn btn-success page-scroll"><i class="fa fa-chevron-up"></i></a>
                <!-- <a href="http://github.com/gcdigitalfellows/gcdrb-data-cleaning"
                  class="btn btn-success"><i class="fa fa-github"></i></a> -->
              </div>
              <h4 class="card-title">Data Cleaning</h4>
              <p class="card-text">Working with real-world data is often messy and complicated. This session is an overview of some common problems that arise when working with datasets, including converting between file types, resolving inconsistent metadata, and working with APIs.
              </p>
            </div>
          </div>
        </div>
        <div class="landing" id="databases">
          <div class="card">
            <div class="card-block">
              <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Data Formats">
                <a href="#page-top" class="btn btn-success page-scroll"><i class="fa fa-chevron-up"></i></a>
                <!-- <a href="http://github.com/gcdigitalfellows/gcdrb-databases"
                  class="btn btn-success"><i class="fa fa-github"></i></a> -->
              </div>
              <h4 class="card-title">Data Formats</h4>
              <p class="card-text">This session will go more in-depth into the different types of data researchers work with and the challenges that commonly arise when trying to clean data and prepare it for analysis. This session will be beneficial to anyone who needs to convert between data types, has large amounts of data to work with, or may encounter missing or messy data.</p>
            </div>
          </div>
        </div>
        <div class="landing" id="twitter">
          <div class="card">
            <div class="card-block">
              <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Twitter API">
                <a href="#page-top" class="btn btn-success page-scroll"><i class="fa fa-chevron-up"></i></a>
                <!-- <a href="http://github.com/gcdigitalfellows/"
                  class="btn btn-success"><i class="fa fa-github"></i></a> -->
              </div>
              <h4 class="card-title">Twitter API</h4>
              <p class="card-text">This session will cover the basics of accessing data via the Twitter API. including specific challenges that arise when working with large, text-based data sets. This session will be beneficial for anyone who wants to collect data from Twitter or other social networks. </p>
            </div>
          </div>
        </div>
        <div class="landing" id="scipy">
          <div class="card">
            <div class="card-block">
              <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Scientific Python">
                <a href="#page-top" class="btn btn-success page-scroll"><i class="fa fa-chevron-up"></i></a>
                <!-- <a href="http://github.com/gcdigitalfellows/gcdrb-scipy"
                  class="btn btn-success"><i class="fa fa-github"></i></a> -->
              </div>
              <h4 class="card-title">Scientific Python</h4>
              <p class="card-text">This session will discuss how to work with N-dimensional array data using numpy and scipy. It will discuss tools for efficiently filtering data, methods for statistically analysing data, linear algebra routines, and various signal processing routines. This session will also discuss how to use masked arrays to work with missing values. This session is aimed towards researchers working with N-dimensional quantitative data. </p>
            </div>
          </div>
        </div> 
        <div class="landing" id="html">
          <div class="card">
            <div class="card-block">
              <div class="btn-group btn-group-sm pull-right" role="group" aria-label="HTML, CSS, and Javascript">
                <a href="#page-top" class="btn btn-success page-scroll"><i class="fa fa-chevron-up"></i></a>
                <!-- <a href="http://github.com/gcdigitalfellows/gcdrb-html"
                  class="btn btn-success"><i class="fa fa-github"></i></a> -->
              </div>
              <h4 class="card-title">HTML, CSS, and Javascript</h4>
              <p class="card-text">Modern web pages are created using HTML to control content, CSS to control appearance, and JavaScript to dictate behavior. This session will be helpful for anyone that wants to build on the web.</p>
            </div>
          </div>
        </div>
        <div class="landing" id="viza">
          <div class="card">
            <div class="card-block">
              <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Data Visualization">
                <a href="#page-top" class="btn btn-success page-scroll"><i class="fa fa-chevron-up"></i></a>
                <!-- <a href="http://github.com/gcdigitalfellows/gcdrb-data-viz-a"
                  class="btn btn-success"><i class="fa fa-github"></i></a> -->
              </div>
              <h4 class="card-title">Data Visualization</h4>
              <p class="card-text">Communicating your findings can be just as important as getting those findings in the first place. This session will introduce ways to visually represent complex data (text-based, numerical, and temporal) in order to reach a wider audience. </p>
            </div>
          </div>
        </div>
        <div class="landing" id="nltk">
          <div class="card">
            <div class="card-block">
              <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Text Analysis with NLTK">
                <a href="#page-top" class="btn btn-success page-scroll"><i class="fa fa-chevron-up"></i></a>
                <!-- <a href="http://github.com/gcdigitalfellows/gcdrb-nltk"
                  class="btn btn-success"><i class="fa fa-github"></i></a> -->
              </div>
              <h4 class="card-title">Text Analysis with NLTK</h4>
              <p class="card-text">The Natural Language Toolkit (NLTK) is a Python library that allows researchers to work with text-based data, such as literary works or social media corpora. Through attending this session, you will learn how to use Python to analyze large amounts of text to find word frequencies, collocations, and other patterns invisible from a non-computational perspective. This session will be of particular use to researchers who work with any form of text-based data.</p>
            </div>
          </div>
        </div> 
        <div class="landing" id="identity">
          <div class="card">
            <div class="card-block">
              <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Digital Identity with Wordpress">
                <a href="#page-top" class="btn btn-success page-scroll"><i class="fa fa-chevron-up"></i></a>
                <!-- <a href="http://github.com/gcdigitalfellows/gcdrb-digital-identity"
                  class="btn btn-success"><i class="fa fa-github"></i></a> -->
              </div>
              <h4 class="card-title">Digital Identity with WordPress</h4>
              <p class="card-text">This session will discuss the basics of building a digital academic identity in online spaces to effectively showcase your research and network with scholars in your field. We will use the CUNY Academic Commons to explore personal website creation using the WordPress platform, and will review best practices for organization and design, theme editing, content management, blogging, and image use. Participants who have ideas for project-based or personal websites are welcome to begin implementing these in this session. </p>
            </div>
          </div>
        </div> 
        <div class="landing" id="gis">
          <div class="card">
            <div class="card-block">
              <div class="btn-group btn-group-sm pull-right" role="group" aria-label="GIS">
                <a href="#page-top" class="btn btn-success page-scroll"><i class="fa fa-chevron-up"></i></a>
                <!-- <a href="http://github.com/gcdigitalfellows/gcdrb-gis"
                  class="btn btn-success"><i class="fa fa-github"></i></a> -->
              </div>
              <h4 class="card-title">GIS with CartoDB</h4>
              <p class="card-text">These sessions will explore the basics of mapping and geospatial representation of data and applythat knowledge to make maps, visualize spatial relationships and analyze spatial data on CartoDB. This session will be useful for anyone whose data has a spatial component or who wants to incorporate spatial relationships into their analysis.</p>
            </div>
          </div>
        </div>
        <div class="landing" id="ml">
          <div class="card">
            <div class="card-block">
              <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Machine Learning">
                <a href="#page-top" class="btn btn-success page-scroll"><i class="fa fa-chevron-up"></i></a>
                <!-- <a href="http://github.com/gcdigitalfellows/gcdrb-machine-learning"
                  class="btn btn-success"><i class="fa fa-github"></i></a> -->
              </div>
              <h4 class="card-title">Machine Learning</h4>
              <p class="card-text">This session will introduce regression analysis, data preprocessing, model selection, supervised and unsupervised machine learning and dimension reduction using the sklearn machine learning library. This session is aimed towards researchers who want to find patterns in their data or use their data to predict a phenomena. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section id="schedule">
  <div class="container">
    {% include section-header.html title="Past DRB Schedule" color="primary" %}
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table table-striped">
          <thead class="thead-inverse">
            <th>Time</th>
            <th>Topic</th>
            <th>Instructor(s)</th>
          </thead>
          <tbody>
        {% for day in site.data.schedule %}
          <tr>
            <th colspan=3 class="table-info" id="{{day.day | slugify}}">{{day.day}}: {{day.date}}</th>
          </tr>
          {% for timeslot in day.timeslots %}
            <tr>
              <td>{{timeslot.time}}</td>
              {% if timeslot.link %}
                <td><a href="{{ '#' | append: timeslot.link }}" class="page-scroll">{{timeslot.title}}</a></td>
              {% else %}
                <td>{{timeslot.title}}</td>
              {% endif %}
              <td>{{timeslot.instructor}}</td>
            </tr>
          {% endfor %}
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- </main> -->
