---
layout: default
title: Welcome to the GC Digital Research Bootcamp
headerblock: 	<h2 class="p-a-3">Four Days of Hands-On Workshops Using Digital Research Methods</h2><a href="#about" class="page-scroll"><i class="fa fa-chevron-circle-down fa-4x m-t-3"></i></a>
regenerate: true
menu: home
headerclass: home
---
<section class="" id="landing">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <!-- <a href="{{ '/apply" class="btn btn-default btn-xl' | prepend: site.baseurl }}">Apply Now!</a> -->
        <h2 class="m-t-3">January 19-22, 2016</h2>
        <h2 class="">The Graduate Center, CUNY</h2>
        <hr class="hr-primary m-y-2">
        <a class="btn btn-primary"
            href="http://commons.gc.cuny.edu/groups/gcdrb/">Visit us on the CUNY
            Academic Commons</a>
        <div class="alert alert-danger m-t-3" role="alert">
          <p>Due to an overwhelming interest in the Digital Research Bootcamps,
          we have closed our rolling admissions process. Please check back again in the spring for more information about our June bootcamp.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-alternate" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h2>Inviting CUNY Students and Faculty of All Skill Levels and Disciplines</h2>
        <hr class="hr-light m-y-2">
        <p class="text-faded">GC Digital Initiatives invites applicants for the inaugural Digital Research Bootcamp, an opportunity to develop digital research skills and connect with others in an interdisciplinary environment. The GC Digital Research Bootcamp is a four day workshop where you will learn how to use a range of digital tools and methods for doing research. There are multiple tracks targeted at different skillsets and disciplinary focuses.</p>
        <p class="text-faded">Free of charge to participants, the GC Digital Research Bootcamp has been developed in partnership with Software Carpentry, the New York Public Library, Mozilla Science Lab, Humanities Intensive Learning and Teaching, and the Digital Humanities Summer Institute thanks to the sponsorship of GCDI, The Graduate Center, and The CUNY Strategic Investment Initiatives Program.</p>
        <p class="text-faded">The GC Digital Research Bootcamp will take place over four days, January 19-22, 2016, from 9:30-6:00 daily. A preliminary list of workshop topics to expect can be found below. Continue to watch this site during December and January for additional information regarding instructors, a workshop schedule, and more.</p>
        <p class="text-faded">Applications require only a short statement of interest, and will be considered on a rolling basis. We advise applicants to apply early to secure a spot. Please direct questions and inquiries to gc.digitalfellows@gmail.com.</p>
      </div>
    </div>
  </div>
</section>

<section id="topics">
  <div class="container">
  <div class="row">
    <div class="col-lg-12 text-center m-b-3">
      <h2 class="section-heading center-block">Topics</h2>
      <!-- <hr class="hr&#45;primary"> -->
    </div>
  </div>
  <div class="row">
    {% assign sorted = site.data.workshops %}
    {% for topic in sorted %}
    <div class="col-sm-6 col-md-4 col-xl-3">
      <div class="card card-block text-center">
        <span class="fa-stack fa-2x wow bounceIn text-info">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa {{topic.icon}} fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="card-title">{{topic.title}}</h4>
        <p class="card-text">{{topic.tagline}}</p>
        <a class="btn btn-primary" href="{{ '/workshops/#{{topic.link}}' | prepend: site.baseurl }}">More</a>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
</section>

{% include partners.html %}
{% include contact.html %}
