---
layout: default-noheader
title: Welcome to the GC Digital Research Institute
regenerate: true
---
<header class="header-home">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 class="display-0 text-accent p-b-3">GC Digital Research Institute</h1>
      <h2 class="text-white">A Week-Long Course in Digital Research Methods at the Graduate Center
      <hr class="hr hr-info">
      <h2 class="text-white">January 17-20, 2017</h2>
      <h2 class="text-white"><a href="https://www.gc.cuny.edu">The Graduate Center, CUNY</a></h2>
      <h2 class="text-white m-b-3">Hosted by the <a href="https://cuny.is/gcdigitalfellows">GC Digital Fellows</a></h2>
      <!-- <a href="{{ '/apply' | prepend: site.baseurl }}" class="btn btn&#45;info btn&#45;xl m&#45;r&#45;2">Apply Now!</a> -->
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdYiq7k1BMePnl1hhl1FD_f05ByLF3Jvs2Ts_BfTBekoGLiJA/viewform" class="btn btn-info btn-xl m-l-2 page-scroll">Apply Now</a>
      
      <!-- Opening soon message below -->
      <!-- <div class="row">
           <div class="m-t-3 col-md-6 offset-md-3 alert alert-info" role="alert"><strong><center>Applications opening soon</center></strong><br/>Applications for the January 2017 Digital Research Institute will open November 9. Bookmark this page for updates.</div>
	   </div>
	   </div> -->

      <!-- Uncomment below when closing application -->
      <!-- <div class="row">
           <div class="m-t-3 col-md-6 offset-md-3 alert alert-danger" role="alert"><strong>Applications are now closed.</strong><br/>Thank you to everyone who applied. Applicants will be notified regarding the status of their applications the first week of May.</div>
	   </div> -->
    </div>
  </div>
</header>

<main>
  <section class="bg-primary" id="about">
    <div class="container">
      {% include section-header.html title="What is the GC Digital Research Institute?" color="white" %}
          <p>Hosted by the GC Digital Fellows and part of the GC Digital Initiatives, the GC Digital Research Institute (GC DRI) is a week-long intensive training course where participants learn core digital research skills while connecting with peers in an interdisciplinary environment.</p>
          <p>Building on the success of the <a href="{{ 'january_2016_curriculum.html' | prepend: site.baseurl }}">inaugural GC Digital Research Bootcamp</a>, which took place in January 2016, GC DRI combines training in areas such as the command line, git, Python, and databases with more specialized short workshops and professional development sessions. Participants will come together to share their own research goals, collaborate on a shared project, and present what they have learned in a casual but challenging setting.</p>
          <p>Free of charge to participants and open to all members of the CUNY community, the GC DRI is developed in partnership with Software Carpentry, the New York Public Library, Mozilla Science Lab, Humanities Intensive Learning and Teaching, and the Digital Humanities Summer Institute.</p>
          <p>The GC DRI is sponsored by the <a href="http://gcdi.commons.gc.cuny.edu/">GC Digital Initiatives</a>, <a href="http://www.gc.cuny.edu">The Graduate Center</a>, and The CUNY Strategic Investment Initiatives Program.</p>
          <!-- <p>We are now <a href="{{ '/apply/' | prepend: site.baseurl }}">accepting applications</a> for the June 2016 GC DRI. Please <a href="{{ 'contact.html' | prepend: site.baseurl }}">contact us</a> if you have any questions or comments.</p> -->
        </div>
      </div>
    </div>
  </section>

  <section id="topics">
    <div class="container-fluid">
      {% include section-header.html title="Reasons to Participate" color="danger" %}
      <div class="row">
        {% for topic in site.data.outcomes %}
          {% if forloop.index == 4 %}
        </div>
        <div class="row">
        {% endif %}
        <div class="card card-noborder col-sm-4">
          <div class="card-block text-xs-center">
            <h4 class="card-title text-danger">{{topic.title}}</h4>
            <span class="fa-stack fa-2x wow bounceIn text-danger">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa {{topic.icon}} fa-stack-1x fa-inverse"></i>
            </span>
            <p class="card-text">{{topic.description}}</p>
          </div>
        </div>
      {% endfor %}
        </div>
    </div>
  </section>

  <section id="topics" class="bg-primary">
    <div class="container">
      {% include section-header.html title="Want to Learn More?" color="white" %}
      <div class="row">
        <div class="col-md-5">
          <a class="no-animate" href="{{ '/images/drb_74.jpg' | prepend: site.baseurl }}"><img class="img-fluid img-thumbnail" src="{{ '/images/drb_74.jpg' | prepend: site.baseurl }}" alt="January 2016 Digital Research Bootcamp" /></a>
        </div>
        <div class="col-md-7">
          <p>Still not sure if this is right for you? Read about the <a href="{{ 'june_2016_curriculum.html' | prepend: site.baseurl }}">curriculum for the June 2016 Digital Research Institute</a>, check out participant experiences on the <a href="http://digitalfellows.commons.gc.cuny.edu/tag/gcdrb/">Digital Fellows blog</a>, or peruse the real time <a href="https://twitter.com/search?q=%23gcdrb">#gcdrb twitter stream</a>.</p>
          <p>We received fantastic feedback from community members who took part in our January bootcamp, and have been working diligently to incorporate these suggestions into the structure and content of the Digital Research Institute.</p>
          <p>Ready to get started? <a href="https://docs.google.com/forms/d/e/1FAIpQLSdYiq7k1BMePnl1hhl1FD_f05ByLF3Jvs2Ts_BfTBekoGLiJA/viewform">Apply Now!</a></p>
          <p>Applications are due before 11:59pm EST, November 28th, 2016. We will notify applicants about the status of applications in early December.</p>
        </div>
      </div>
    </div>
  </section>

</main>

{% include partners.html %}
