---
layout: default
title: Instructors
regenerate: true
permalink: /instructors/
---

<section id="content" class="container">
  <div class="row" id="top">
    <h2 class="text-center p-b-3">Meet The Instructors</h2>
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    {% for instructor in site.data.people %}
      <div class="row m-b-2" id="{{instructor.id}}">
        <div class="btn-group btn-group-sm pull-right" role="group" aria-label="{{instructor.title}}">
          {% comment %}
          {% if instructor.email != '' %}
          <a href="mailto:{{instructor.email}}" class="btn btn-primary"><i
              class="fa fa-envelope"></i></a>
          {% endif %}
          {% if instructor.website != '' %}
            <a href="{{instructor.website}}" class="btn btn-primary"><i class="fa fa-globe"></i></a>
          {% endif %}
          {% if instructor.github != '' %}
            <a href="{{instructor.github}}" class="btn btn-primary"><i class="fa fa-github"></i></a>
          {% endif %}
          {% endcomment %}
          {% if instructor.twitter != '' %}
            <a href="{{instructor.twitter}}" class="btn btn-primary"><i class="fa fa-twitter"></i></a>
          {% endif %}
          <a href="#page-top" class="btn btn-primary page-scroll"><i class="fa fa-chevron-up"></i></a>
        </div>
        <h3 class="instructor-name">{{instructor.name}}</h3>
        {% if instructor.title != '' or instructor.affiliation != '' %}
          <p class="text-muted">
          {% if instructor.title != '' and instructor.affiliation != '' %}
            <span class="instructor-title">{{instructor.title}}</span>,
          {% elsif instructor.title != '' %}
            <span class="instructor-title">{{instructor.title}}</span>
          {% endif %}
          {% if instructor.affiliation != '' %}
            <span class="instructor-affiliation text-muted">{{instructor.affiliation}}</span>
          {% endif %}
          </p>
        {% endif %}
        {% if instructor.image != '' %}
        <div class="col-sm-2">
          <img class="img-fluid" src="{{ '/images/people/{{instructor.image}}" alt="{{instructor.name}}' | prepend: site.baseurl }}">
        </div>
        <div class="col-sm-10">
        {% else %}
        <div class="col-sm-12">
        {% endif %}
          <div class="instructor-bio p-t-1 m-b-2">{{instructor.bio}}</div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>

{% include partners.html %}
