---
layout: default
title: 
header: header-2
---
<section class="" id="landing">
  <div class="container">
    <div class="row row-heading">
        <h1 class="display-0 text-primary">The Digital Research Bootcamp</h1>
        <h2 class="text-primary m-t-3">January 19-22, 2016</h2>
        <h2 class="text-primary ">The Graduate Center, CUNY</h2>
        <hr class="hr hr-primary m-y-2">
    </div>
    <div class="row row-paded">
        <p>The inaugural GC Digital Research Bootcamp took place over four days in January 2016. It provided participants with an opportunity to develop digital research skills and connect with others in an interdisciplinary environment. The workshops introduced a range of digital tools and methods for doing research, with multiple tracks targeted at different skillsets and disciplinary focuses.</p>
        <p>Free of charge to participants, the GC Digital Research Bootcamp was developed in partnership with Software Carpentry, the New York Public Library, Mozilla Science Lab, Humanities Intensive Learning and Teaching, and the Digital Humanities Summer Institute thanks to the sponsorship of GCDI, The Graduate Center, and The CUNY Strategic Investment Initiatives Program.</p>
        <p>Instructors included volunteers from Software Carpentry, members of the GCDI community, as well as current and past GC Digital Fellows.</p>
        <p>Interest in the Bootcamp surpassed our expectations—we received more than three times the number of applicants as there were available spots. Applicants were selected for participation based on numerous factors, and applicants who were not selected will automatically be considered for future programs as space allows.</p>
    </div>
    <div class="row m-t-2">
      <div class="col-xs-12 col-md-5 offset-md-1 text-xs-center text-md-right">
        <a href="#workshops" class="page-scroll m-a-1 btn btn-success">Explore Past Workshops</a>
      </div>
      <div class="col-xs-12 col-md-5 text-xs-center text-md-left">
        <a href="#schedule" class="page-scroll m-a-1 btn btn-success">See the Previous Schedule</a>
      </div>
      <div class="col-xs-12 col-md-6 offset-md-3 text-xs-center">
        <a href="{{ '/' | prepend: site.baseurl }}" class="m-a-1 btn btn-outline-primary">Return Home</a>
      </div>
    </div>
  </div>
</section>

<section id="workshops">
  <div class="container">
    {% include section-header.html title="Past Workshops" color="primary" %}
    <p>The following are the workshops that were offered during the Digital Research Bootcamp in January 2016. Please note that <strong>future Digital Research Institutes will offer different workshops</strong>. This is an archive of our previous offerings to give you a sense of the types of materials and topics you might expect from future programs. Additionally, future workshops will likely utilize a different structure, incorporate different materials and examples, and cover different topic areas even if the workshops are similarly titled.</p>
    <p><strong>Note: </strong>Links to the materials used in the workshops have been included as icons in the upper right corner of each workshop's description as follows:</p>
    <ul>
      <li><a href="#" class="btn btn-sm btn-success"><i class="fa fa-calendar"></i></a> Jump to the day in the schedule containing this workshop</li>
      <li><a href="#" class="btn btn-sm btn-success"><i class="fa fa-github"></i></a> The GitHub repository containing code and other materials used in the workshop</li>
      <li><a href="#" class="btn btn-sm btn-success"><i class="fa fa-sticky-note-o"></i></a> The live notes taken by participants during the workshop</li>
      <li><a href="#" class="btn btn-sm btn-success"><i class="fa fa-info"></i></a> Additional information about the workshop</li>
      <li><a href="#" class="btn btn-sm btn-success"><i class="fa fa-chevron-up"></i></a> Jump back to the top of the workshop list</li>
    </ul>
    <div class="row m-t-3">
      <div class="col-md-10 offset-md-1">
        {% for topic in site.data.oldworkshops | sort: 'sort' %}
        <div class="card" id="{{ topic.link | slugify }}">
          {% comment %}<img class="card-img-top" src="{{ '/images/header.jpg" alt="Card image cap' | prepend: site.baseurl }}">{% endcomment %}
          <div class="card-block">
            <div class="btn-group btn-group-sm pull-right" role="group" aria-label="{{topic.title}}">
              <a href="{{ topic.day | slugify | prepend: '#' | prepend: site.baseurl }}" class="btn btn-success page-scroll"><i class="fa fa-calendar"></i></a>
              {% if topic.repo != "" %}
                <a href="{{topic.repo}}" class="btn btn-success"><i class="fa fa-github"></i></a>
              {% endif %}
              {% if topic.etherpad != "" %}
                <a href="{{topic.etherpad}}" class="btn btn-success"><i class="fa fa-sticky-note-o"></i></a>
              {% endif %}
              {% if topic.more_info_link != "" %}
                <a href="{{topic.more_info_link}}" class="btn btn-success"><i class="fa fa-info"></i></a>
              {% endif %}
              <a href="#workshops" class="btn btn-success page-scroll"><i class="fa fa-chevron-up"></i></a>
            </div>
            <h4 class="card-title"><a class="page-scroll" href="{{ topic.link | slugify | prepend: '#' | prepend: site.baseurl }}">{{topic.title}}</a></h4>
            <p class="card-text">{{ topic.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="schedule">
  <div class="container">
    {% include section-header.html title="Past DRB Schedule" color="primary" %}
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table table-striped">
          <thead class="thead-inverse">
            <th>Time</th>
            <th>Topic</th>
            <th>Instructor(s)</th>
          </thead>
          <tbody>
        {% for day in site.data.oldschedule %}
          <tr>
            <th colspan=3 class="table-info" id="{{day.day | slugify}}">{{day.day}}: {{day.date}}</th>
          </tr>
          {% for timeslot in day.timeslots %}
            <tr>
              <td>{{timeslot.time}}</td>
              {% if timeslot.link %}
                <td><a href="{{ '#' | append: timeslot.link }}" class="page-scroll">{{timeslot.title}}</a></td>
              {% else %}
                <td>{{timeslot.title}}</td>
              {% endif %}
              <td>{{timeslot.instructor}}</td>
            </tr>
          {% endfor %}
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- </main> -->
