---
layout: default
title: Location
regenerate: true
---

<section id="content">
  <div class="container">
    {% include section-header.html title="GCDRI Location and Rooms" color="secondary" %}
    <div class="row" id="top">
      <div class="col-md-8 offset-md-2">
        <p>The Digital Research Institute will be held at the Graduate Center, CUNY, located at 365 Fifth Avenue, New York, NY 10016. Sessions will take place in the Science Center (room 4102).</p>
	<p>To get to the Science Center, head to the fourth floor. When you get off the elevator, walk toward the monitors. The Science Center is the first door to the right of the monitors, across from the kitchenette.</p>
        <div class="alert alert-warning"><strong>Warning!</strong> The climate control system is inconsistent throughout the building. Some of the rooms will be very cold while others may get warm from body heat. Participants are advised to dress accordingly!</div>
      </div>
    </div>

<!-- Room specifics removed for January 2018 since everything in Science Center -->
    <!-- <div class="row">
	 <div class="col-md-8 offset-md-2">
         <h3 class="text-xs-center m-t-3 m-b-1">Room Locations</h3>
         <table class="table table-striped">
         <thead>
         <tr>
         <th>Room</th>
         <th>Capacity</th>
         <th>Location</th>
         </tr>
         </thead>
         <tbody>
         {% for room in site.data.rooms %}
         <tr>
         <td id="{{room[0]}}">{{room[1].name}}</td>
         <td>{{room[1].capacity}}</td>
         <td>{{room[1].location}}</td>
         </tr>
         {% endfor %}
         </tbody>
         </table>
	 </div>
	 </div> -->
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 class="text-xs-center m-t-3 m-b-1">Getting to the Graduate Center</h3>
        <p>The Graduate Center, CUNY is located at 365 Fifth Avenue, New York, NY
        10016</p>
        <p>The easiest way to get to the Graduate Center is by taking the BDMFNRQ
        trains to 34th St./Herald Square, the 6 train to 33rd St., or the 123
        trains to Penn Station, and walking to Fifth Avenue.</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6079016681215!2d-73.98620104888522!3d40.748652543207584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9c6c0cfed%3A0x6e762b3df1696ae2!2s365+5th+Ave%2C+New+York%2C+NY+10016!5e0!3m2!1sen!2sus!4v1453063683238"
          width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
