---
layout: default
title: Daily Schedule
permalink: /newschedule/
regenerate: true
header: header-2
header-color: secondary
---
<section id="overview">
  <div class="container">
    {% include section-header.html title="DRI Schedule Overview" color="success" %}
    <p>Workshops build on each other such that successive workshops use skills developed in earlier ones. All participants will attend workshops on core skills, then choose which skills they wish to develop further through advanced workshops. The following is an overview of the preliminary schedule (subject to change) of the activities planned for the five-day program. Scroll down (or <a href="#detail" class="page-scroll">click here</a>) to view a detailed schedule for each day of the DRI.</p>
    <div class="row m-t-3">
      <div class="col-md-10 offset-md-1">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered" >
            <thead class="thead-inverse">
              <th>Session</th>
              <th><a href="#day-1">Mon</a></th>
              <th><a href="#day-2">Tue</a></th>
              <th><a href="#day-3">Wed</a></th>
              <th><a href="#day-4">Thu</a></th>
              <th><a href="#day-5">Fri</a></th>
            </thead>
            {% for session in site.data.prelim %}
            <tr>
              {% for day in session %}
                {% if day[0] == 'time' %}
                  <th scope="row">{{day[1]}}</th>
                {% else %}
                  <td>{{day[1]}}</td>
                {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="detail">
  <div class="container">
    {% include section-header.html title="Detailed DRI Daily Schedule" color="primary" %}
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table table-striped">
          <thead class="thead-inverse">
            <th>Time</th>
            <th>Topic</th>
            <th>Room</th>
            <th>Instructor(s)</th>
          </thead>
          <tbody>
          {% for day in site.data.schedule %}
            <tr>
              <th colspan=4 class="table-info" id="{{day.day | slugify}}">{{day.day}}: {{day.date}}</th>
            </tr>
            {% for timeslot in day.timeslots %}
              <tr>
                <td>{{timeslot.time}}</td>
                {% if timeslot.link %}
                  <td><a href="{{ '#' | append: timeslot.link }}" class="page-scroll">{{timeslot.title}}</a></td>
                {% else %}
                  <td>{{timeslot.title}}</td>
                {% endif %}
                <td>{{site.data.rooms[timeslot.room].name}}</td>
                <td>{{timeslot.instructor}}</td>
              </tr>
            {% endfor %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

