---
layout: default
title: Daily Schedule
regenerate: true
header: header-2
header-color: secondary
---
<section id="overview" class="container">
    {% include section-header.html title="Tentative Schedule" color="success" %}
    <p>Workshops build on each other such that successive workshops use skills developed in earlier ones. All participants will attend workshops on core skills on Tuesday, Wednesday, and Thursday morning. On Thursday afternoon and Friday, participants will choose which skills they wish to develop further.</p>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
            <thead class="thead-inverse">    
    <th style="width:20%">Session</th>
    <th style="width:20%">Tue</th>
    <th style="width:20%">Wed</th>
    <th style="width:20%">Thu</th>
    <th style="width:20%">Fri</th>
    </head>
    <tbody>
{% for item in site.data.overview %}
    <tr>
      <td>{{ item.time }}</td>
      <td>{{ item..Tu }}</td>
      <td>{{ item..W }}</td>
      <td>{{ item..Th }}</td>
      <td>{{ item..F }}</td>      
    </tr>
{% endfor %}

    </tbody>
</div>

    </table>
</div>
</div>
</section>
