---
layout: default
title: Schedule
permalink: /schedule/
regenerate: true
show_materials: false
---

<section id="content" class="container-fluid">
  <div class="row m-b-3">
    <div class="col-md-8 offset-md-2">
      <p>Each day of the Bootcamp, there will be four workshop sessions--two in the
      morning and two in the afternoon, with breaks between each session. Workshop
      topics are scaffolded so that successive workshops will use skills developed
      in earlier workshops. All attendees will participate in the same core workshops,
      and then will be able to choose between different tracks for the advanced
      workshops. The following table lists all of the topics that will be covered
      over the course of the Bootcamp, with links to additional information, workshop
      materials, and the schedule.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered" >
          <thead class="thead-inverse">
            <th>Session</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
          </thead>
          {% for session in site.data.prelim %}
          <tr>
            {% for day in session %}
              {% if day[0] == 'time' %}
                <th scope="row">{{day[1]}}</th>
              {% else %}
                <td>{{day[1]}}</td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</section>
