---
layout: default
title: Daily Schedule
regenerate: true
header: header-2
header-color: secondary
---
<section id="overview" class="container">
    {% include section-header.html title="Schedule" color="success" %}
    <p>Workshops build on each other such that successive workshops use skills developed in earlier ones. All participants will attend workshops on core skills on Tuesday and Wednesday. On Thursday and Friday, participants will choose which skills they wish to develop further through advanced workshops.</p>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
            <thead class="thead-inverse">    
    <th>Session</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    </head>
    <tbody>
{% for item in site.data.overview %}
    <tr>
      <td>{{ item.time }}</td>
      <td>{{ item..Tu }}</td>
      <td>{{ item..W }}</td>
      <td>{{ item..Th }}</td>
      <td>{{ item..F }}</td>      
    </tr>
{% endfor %}

    </tbody>
</div>

    </table>
</div>
</div>
</section>
