---
layout: default
title: Workshops
regenerate: true
permalink: /workshops/
---

<section id="content" class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <p>Each day of the Bootcamp, there will be four workshop sessions--two in the
      morning and two in the afternoon, with breaks between each session. Workshop
      topics are scaffolded so that successive workshops will use skills developed
      in earlier workshops. All attendees will participate in the same core workshops,
      and then will be able to choose between different tracks for the advanced workshops.
      <!-- The following table lists all of the topics that will be covered
      over the course of the Bootcamp, with links to additional information, workshop
      materials, and the schedule. -->
      </p>
    </div>
  </div>
  <div class="row m-b-3">
    <div class="col-md-6 offset-md-3">
      <table class="table table-striped" id="top">
        {% for topic in site.data.workshops %}
        <tr>
          <td>{{topic.title}}</td>
          <td><a href="#{{topic.link}}" class="page-scroll">details</a></td>
          <!-- <td><a href="{{topic.repo}}" target="_blank">repo</a></td> -->
          {% if topic.more_info_link != '' %}
            <td><a href="{{topic.more_info_link}}" target="_blank">more info</a></td>
          {% endif %}
          <!-- <td><a href="{{ '/schedule/#{{topic.session}}' | prepend: site.baseurl }}">schedule</a></td> -->
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="row">
    <h2 class="text-center p-a-2">Workshop Details</h2>
    <div class="col-md-8 offset-md-2">
      {% for topic in site.data.workshops %}
      <div class="card" id="{{topic.link}}">
        {% comment %}<img class="card-img-top" src="{{ '/images/header.jpg" alt="Card image cap' | prepend: site.baseurl }}">{% endcomment %}
        <div class="card-block">
          <div class="btn-group btn-group-sm pull-right" role="group" aria-label="{{topic.title}}">
            <a href="{{ '/schedule/#{{topic.day | slugify}}" class="btn btn-primary"><i class="fa fa-calendar' | prepend: site.baseurl }}"></i></a>
            <a href="#page-top" class="btn btn-primary page-scroll"><i class="fa fa-chevron-up"></i></a>
            <!-- <a href="http://github.com/gcdigitalfellows/{{topic.repo}}"
                 class="btn btn-primary"><i class="fa fa-github"></i></a> -->
          </div>
          <h4 class="card-title"><a
              href="{{ '/schedule/#{{topic.link}}' | prepend: site.baseurl }}">{{topic.title}}</a></h4>
          <p class="card-text">{{topic.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
