{% if page.headerclass %}
<header class="header-{{page.headerclass}}">
{% else %}
<header class="header-default">
{% endif %}
  <div class="header-content">
    <div class="header-content-inner">
    <h1><a class="site-title" href="/">{{ page.title }}</a></h1>
    {% if page.headerblock %}
      {{page.headerblock}}
    {% elsif page.subtitle %}
      <hr>
      <p>{{page.subtitle}}</p>
      <a href="#about" class="page-scroll"><i class="fa fa-chevron-circle-down fa-4x"></i></a>
    {% endif %}
    </div>
  </div>
</header>
