{% if page.headerclass == 'home' %}
<header class="header-home">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 class="p-b-3"><a class="site-title" href="/">The GC Digital Research Institute</a></h1>
      <h2>A Week-Long Intensive Course on Digital Research Methods</h2>
      <hr class="hr-primary">
      <h2>June 6-10, 2016</h2>
      <h2>The Graduate Center, CUNY</h2>
      <h2 class="m-y-3">Hosted by the GC Digital Fellows<br /><a class="small" href="http://commons.gc.cuny.edu/groups/gcdrb/">Visit us on the CUNY Academic Commons</a></h2>
      <a href="{{ '/apply' | prepend: site.baseurl }}" class="btn btn-primary btn-xl m-r-2">Apply Now!</a>
      <a href="#about" class="btn btn-primary btn-xl m-l-2 page-scroll">Learn More</a>
    </div>
  </div>
</header>
{% else %}
<header class="header-default">
  <div class="header-content">
    <div class="header-content-inner">
      <h1><a class="site-title" href="/">{{ page.title }}</a></h1>
    </div>
  </div>
</header>
{% endif %}
