<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand page-scroll pull-xs-left hidden-md-down" href="{{ '/' | prepend: site.baseurl }}" title="{{ site.description }}">
    <img class="site-logo" src="{{ '/images/gcdri-logo.png' | prepend: site.baseurl }}" alt="{{ site.title }}">
  </a>
  <a class="navbar-brand hidden-lg-up clearfix" href="{{ '/' | prepend: site.baseurl }}" title="{{ site.description }}">
    <img class="site-logo" src="{{ '/images/gcdri-logo-mobile.png' | prepend: site.baseurl }}" alt="{{ site.title }}">
  </a>
  <button type="button" class="navbar-toggler hidden-lg-up pull-xs-right" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-toggleable-md" id="bs-navbar-collapse-1" aria-expanded="false">
    <nav class="nav navbar-nav pull-xs-right text-xs-right">
    {% for link in site.data.menus.main %}
        {% if page.permalink == link.href %}
          <a class="nav-item nav-link active" href="#">{{ link.name }}</a>
      {% else %}
          <a class="nav-item nav-link {{link.class}}" href="{{ link.href | prepend: site.baseurl }}">{{ link.name }}</a>
      {% endif %}
    {% endfor %}
    </nav>
  </div>
</nav>
