<section id="partners" class="bg-white">
  <div class="container">
    {% include section-header.html title="Meet Our Partners" color="danger" %}
    <div class="row">
      <div class="card-deck-wrapper">
        <div class="card-deck">
          {% for partner in site.data.partners %}
            <div class="card card-partner text-xs-center">
              <a class="no-animate" href="{{partner.website}}" target="_blank">
                <img class="card-img-top img-fluid img-partner {{partner.class}}"
                    src="{{ '/images/logos/' | prepend: site.baseurl }}{{partner.image}}"
                    alt="{{partner.fullname}}">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
