// vim:fdm=marker

// *******************************************************************
// Page {{{
// *******************************************************************
html,
body {
  height: 100%;
  width: 100%;
}

body {
  @include serif-font;
  background-color: $white;
  position: relative;
}

// }}}
// *******************************************************************
// HR {{{
// *******************************************************************
.hr {
  border-width: .2rem;
  margin: 3rem auto;
  max-width: 10rem;

  &.hr-accent {
    border-color: $brand-accent;
  }

  &.hr-alternate {
    border-color: $brand-alternate;
  }

  &.hr-dark {
    border-color: $brand-dark;
  }

  &.hr-light {
    border-color: $brand-light;
  }

  &.hr-primary {
    border-color: $brand-primary;
  }

  &.hr-black {
    border-color: $black;
  }

  &.hr-white {
    border-color: $white;
  }
}

// }}}
// *******************************************************************
// Anchors {{{
// *******************************************************************
a {
  @include transition-all;
  color: $brand-primary;
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::before {
    background-color: darken($brand-primary, 10%);
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    @include transition-all;
    visibility: hidden;
    width: 100%;
  }

  &:hover,
  &:focus {
    color: darken($brand-primary, 10%);
    text-decoration: none;

    &::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  &.btn::before {
    background-color: transparent;
  }
}


// fix for anchors to account for nav header
:target::before {
  content: "";
  display: block;
  height: 60px;
  margin: -60px 0 0;
}

// }}}
// *******************************************************************
// Headings {{{
// *******************************************************************

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.row-heading {
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  padding-top: 5rem;
  text-align: left;

  @include media-breakpoint-down(md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-heading {
  margin-top: 0;
}

// }}}
// *******************************************************************
//  Accent and Background Colors {{{
// *******************************************************************
.bg-theme {
  background-color: $brand-primary;
}

.bg-alternate {
  background-color: $brand-alternate;
  color: $white;

  a {
    color: rgba($white, .6);
  }
}

.bg-accent {
  background-color: $brand-accent;
  color: $white;

  a {
    color: rgba($white, .6);
  }
}

.bg-dark {
  background-color: $brand-dark;
  color: $white;

  a {
    color: rgba($white, .6);
  }
}

.bg-light {
  background-color: $brand-light;
  color: $brand-dark;

  a {
    color: rgba($brand-dark, .6);
  }
}

.text-faded {
  color: rgba($white, .6);

  a {
    color: $white;
  }
}

.text-accent {
  color: $brand-accent;
}

.text-alternate {
  color: $brand-alternate;
}

.text-dark {
  color: $brand-dark;
}

.text-light {
  color: $brand-light;
}

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

.fa-inverse {
  color: $white;
}

// }}}
// *******************************************************************
// Buttons {{{
// *******************************************************************
.btn {
  @include sans-serif-font;
  // border: 0;
  // border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}

.btn-accent {
  @include button-variant($white, $brand-accent, $brand-accent);
}

.btn-primary {
  color: $white;
}

// }}}
// *******************************************************************
// Navigation {{{
// *******************************************************************
.navbar-default {
  @include sans-serif-font;
  @include transition-all;
  min-height: 3rem;

  .navbar-brand {
    margin-right: 0;
  }

  .navbar-toggler {
    font-size: 1.5rem;
    padding: .25rem .5rem 0;
  }
}

.nav > li {
  > a,
  > a:focus {
    color: $brand-dark;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      color: $brand-primary;
    }
  }

  &.active > a,
  &.active > a:focus {
    background-color: transparent;
    color: $brand-primary;

    &:hover {
      background-color: transparent;
    }
  }
}

@include media-breakpoint-down(md) {
  .navbar-nav {
    .nav-item {
      float: none;
      margin-right: 1rem;
      text-align: right;

      + .nav-item {
        margin-left: 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba($white, .3);
    min-height: 3.5rem;

    .navbar-brand {
      margin-right: 0;
    }
  }

  .nav > li > a,
  .nav > li > a:focus {
    color: rgba($white, .7);

    &:hover {
      color: $white;
    }
  }

  &.shadedheader {
    background-color: $brand-dark;
    border-color: rgba($brand-dark, .5);

    .nav > li > a,
    .nav > li > a:focus {
      color: $white;

      &:hover {
        color: rgba($white, .5);
      }
    }
  }
}

.site-logo {
  height: 1.5rem;
  width: auto;
}

@include media-breakpoint-up(sm) {
  .site-logo {
    height: 2rem;
  }
}
// }}}
// *******************************************************************
// Header Section {{{
// *******************************************************************
header {
  background-image: url("../images/header.jpg");
  color: $white;
  position: relative;
  text-align: center;
  width: 100%;
}

.header-default {
  margin-top: 3rem;
}

.header-home {
  @include background-cover;
  background-image: url("../images/header-home.jpg");
  background-position: center;
  min-height: 100%;

  @include media-breakpoint-up(lg) {
    .header-content {
      padding: 0 50px;
      position: absolute;
      top: 60%;
      transform: translateY(-60%);
    }

    .header-content-inner {
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;

      p {
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
      }
    }
  }
}

.header-content {
  padding: 5rem 2rem 2rem;
  position: relative;
  text-align: center;
  width: 100%;

  .header-content-inner {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 5rem;

    h1 {
      font-weight: 700;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
    }
  }
}

// }}}
// *******************************************************************
// Sections, General {{{
// *******************************************************************
section {
  margin-bottom: 5rem;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
}

aside {
  padding: 50px 0;
}

main {
  @include media-breakpoint-up(lg) {
    position: relative;
    top: 0;
  }
}

footer {
  background-color: $brand-dark;
  color: $gray-lightest;
}

// }}}
// *******************************************************************
// Sections, Specific {{{
// *******************************************************************
.instructor-title {
  font-style: italic;
}

.img-partner {
  display: inline-block;
}

// }}}
// *******************************************************************
// Cards {{{
// *******************************************************************
.card {
  background-color: $white;

  &.card-partner {
    background: transparent;
    border: 0;
    box-shadow: none;

    @include media-breakpoint-up(sm) {
      vertical-align: middle;
    }
  }
}

// }}}
// *******************************************************************
// Applications {{{
// *******************************************************************
.application-question {
  font-weight: bold;
}

.help-block.with-errors {
  color: $brand-danger;
}

// }}}
// *******************************************************************
// Tables {{{
// *******************************************************************
.table-info {
  margin-bottom: 0;
  padding: 0.5rem;
}

.table-question {
  width: 50%;
}

.table-choices {
  text-align: center;
  width: 16.7%;
}

// }}}
// *******************************************************************
// Helpers {{{
// *******************************************************************
.no-gutter > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.row-padded {
  @include media-breakpoint-down(md) {
    padding-bottom: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1rem;
  }
}

// }}}
