// vim:fdm=marker

// *******************************************************************
// Page {{{
// *******************************************************************
html,
body {
  height: 100%;
  width: 100%;
}

body {
  @include serif-font;
  position: relative;
}

// }}}
// *******************************************************************
// HR {{{
// *******************************************************************
.hr-light {
  border-color: $white;
  border-width: .2rem;
  margin: 3rem auto;
  max-width: 10rem;
}

.hr-primary {
  border-color: $theme-primary;
  border-width: .2rem;
  margin: 3rem auto;
  max-width: 10rem;
}

// }}}
// *******************************************************************
// Anchors {{{
// *******************************************************************
a {
  @include transition-all;
  color: $theme-primary;
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::before {
    background-color: darken($theme-primary, 10%);
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    @include transition-all;
    visibility: hidden;
    width: 100%;
  }

  &:hover,
  &:focus {
    color: darken($theme-primary, 10%);
    text-decoration: none;

    &::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  &.btn::before,
  &.navbar-brand::before {
    background-color: transparent;
  }
}


// fix for anchors to account for nav header
:target::before {
  content: "";
  display: block;
  height: 60px;
  margin: -60px 0 0;
}

// }}}
// *******************************************************************
// Headings {{{
// *******************************************************************

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.row-heading {
  text-align: center;
}

.section-heading {
  margin-top: 0;
  display: inline;
}

// }}}
// *******************************************************************
//  Accent and Background Colors {{{
// *******************************************************************
.bg-theme {
  background-color: $theme-primary;
}

.bg-alternate {
  background-color: $theme-alternate;
  color: $white;

  a {
    color: rgba($white, .6);
  }
}

.bg-dark {
  background-color: $theme-dark;
  color: $white;
}

.text-faded {
  color: rgba($white, .6);

  a {
    color: $white;
  }
}

// }}}
// *******************************************************************
// Navigation {{{
// *******************************************************************
.navbar-default {
  @include sans-serif-font;
  @include transition-all;
  background-color: $white;
  border-color: rgba($theme-dark, .5);
  min-height: 3rem;

  .navbar-brand {
    margin-right: 0;
  }

  .navbar-toggler {
    font-size: 1.5rem;
    padding: .25rem .5rem 0;
  }
}

@include media-breakpoint-down(md) {
  .navbar-nav .nav-item {
    float: none;
    margin-right: 1rem;
    text-align: right;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
}

.nav > li {
  > a,
  > a:focus {
    color: $theme-dark;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      color: $theme-primary;
    }
  }

  &.active > a,
  &.active > a:focus {
    background-color: transparent;
    color: $theme-primary;

    &:hover {
      background-color: transparent;
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba($white, .3);
    min-height: 3.5rem;

    .navbar-brand {
      margin-right: 0;
    }
  }

  .nav > li > a,
  .nav > li > a:focus {
    color: rgba($white, .7);

    &:hover {
      color: $white;
    }
  }

  &.shadedheader {
    background-color: $white;
    border-bottom: .1rem solid rgba($black, .1);

    .navbar-header .navbar-brand {
      color: $theme-primary;
      font-size: .8rem;

      &:hover,
      &:focus {
        color: darken($theme-primary, 10%);
      }
    }

    .nav > li > a,
    .nav > li > a:focus {
      color: $theme-dark;

      &:hover {
        color: $theme-primary;
      }
    }
  }
}

.site-logo {
  height: 1.5rem;
  width: auto;
}

@include media-breakpoint-up(sm) {
  .site-logo {
    height: 2rem;
  }
}
// }}}
// *******************************************************************
// Header Section {{{
// *******************************************************************
header {
  background-image: url("../images/header.jpg");
  color: $white;
  position: relative;
  text-align: center;
  width: 100%;
}

.header-default {
  margin-top: 3rem;
}

.header-home {
  @include background-cover;
  background-image: url("../images/header-home.jpg");
  background-position: center;
  min-height: 100%;

  @include media-breakpoint-up(lg) {
    .header-content {
      padding: 0 50px;
      position: absolute;
      top: 60%;
      transform: translateY(-60%);
    }

    .header-content-inner {
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;

      p {
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
      }
    }
  }
}

.header-content {
  padding: 5rem 2rem 2rem;
  position: relative;
  text-align: center;
  width: 100%;

  .header-content-inner {
    color: rgba($white, .7);
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 5rem;

    h1 {
      font-weight: 700;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
    }
  }
}

// }}}
// *******************************************************************
// Sections, General {{{
// *******************************************************************
section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

main {
  @include media-breakpoint-up(lg) {
    position: relative;
    top: 0;
  }
}

footer {
  background-color: $theme-dark;
  color: $gray-lightest;
}

// }}}
// *******************************************************************
// Sections, Specific {{{
// *******************************************************************
.instructor-title {
  font-style: italic;
}

.img-partner {
  display: inline-block;
}

.card.card-partner {
  background: transparent;
  border: 0;
  box-shadow: none;

  @include media-breakpoint-up(sm) {
    vertical-align: middle;
  }
}

// }}}
// *******************************************************************
// Applications {{{
// *******************************************************************
.application-question {
  font-weight: bold;
}

.help-block.with-errors {
  color: $brand-danger;
}

// }}}
// *******************************************************************
// Tables {{{
// *******************************************************************
.table-info {
  margin-bottom: 0;
  padding: 0.5rem;
}

.table-question {
  width: 50%;
}

.table-choices {
  text-align: center;
  width: 16.7%;
}

// }}}
// *******************************************************************
// Helpers {{{
// *******************************************************************
.row-padded {
  @include media-breakpoint-down(xs) {
    padding: 1rem;
  }
}

// }}}
