// vim:fdm=marker

// *******************************************************************
// Page {{{
// *******************************************************************
html,
body {
  height: 100%;
  width: 100%;
}

body {
  @include serif-font;
  background-color: $white;
  position: relative;
}

// Responsive font sizes
html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 15px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 17px;
  }
}

// }}}
// *******************************************************************
// HR {{{
// *******************************************************************
.hr {
  border-color: $white;
  border-width: .2rem;
  margin: 3rem auto;
  max-width: 10rem;

  &.hr-primary {
    border-color: $brand-primary;
  }

  &.hr-secondary {
    border-color: $brand-secondary;
  }

  &.hr-success {
    border-color: $brand-success;
  }

  &.hr-info {
    border-color: $brand-info;
  }

  &.hr-warning {
    border-color: $brand-warning;
  }

  &.hr-danger {
    border-color: $brand-danger;
  }

  &.hr-accent {
    border-color: $brand-accent;
  }

  &.hr-dark {
    border-color: $brand-dark;
  }

  &.hr-light {
    border-color: $brand-light;
  }


  &.hr-black {
    border-color: $black;
  }

  &.hr-white {
    border-color: $white;
  }
}

// }}}
// *******************************************************************
// Anchors {{{
// *******************************************************************
a {
  color: $brand-primary;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: .15s;

  &::before {
    background-color: darken($brand-primary, 10%);
    bottom: 0;
    content: "";
    display: block;
    height: .1rem;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: .15s;
    visibility: hidden;
    width: 100%;
  }

  @include hover-focus {
    color: darken($brand-primary, 10%);
    text-decoration: none;

    &::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  &.no-animate::before,
  &.btn::before,
  &.navbar-brand::before {
    visibility: hidden;
  }
}


// fix for anchors to account for nav header
:target::before {
  content: "";
  display: block;
  height: 60px;
  margin: -60px 0 0;
}

// }}}
// *******************************************************************
// Headings {{{
// *******************************************************************

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.row-heading {
  text-align: center;
}

.section-heading {
  margin-top: 0;
}

.display-0 {
  font-size: 4rem;
}

// }}}
// *******************************************************************
//  Background Colors {{{
// *******************************************************************
@include background-color('.bg-primary', $white, $brand-primary);
@include background-color('.bg-secondary', $white, $brand-secondary);
@include background-color('.bg-info', $white, $brand-info);
@include background-color('.bg-success', $white, $brand-success);
@include background-color('.bg-warning', $white, $brand-warning);
@include background-color('.bg-danger', $white, $brand-danger);
@include background-color('.bg-accent', $white, $brand-accent);
@include background-color('.bg-dark', $white, $brand-dark);
@include background-color-link('.bg-light', $black, $brand-light, $gray-dark, $gray);
@include background-color('.bg-black', $white, $black);

$bg-nycml: #8c1d71;

.bg-nycml {
  background-color: $bg-nycml;
  padding: .7rem;
  border-radius: .25rem;
}

// }}}
// *******************************************************************
// Text Colors {{{
// *******************************************************************
@include text-emphasis-overload('.text-primary', $brand-primary);
@include text-emphasis-overload('.text-secondary', $brand-secondary);
@include text-emphasis-overload('.text-info ', $brand-info);
@include text-emphasis-overload('.text-success', $brand-success);
@include text-emphasis-overload('.text-warning', $brand-warning);
@include text-emphasis-overload('.text-danger', $brand-danger);
@include text-emphasis-overload('.text-accent', $brand-accent);
@include text-emphasis-overload('.text-dark', $brand-dark);
@include text-emphasis-overload('.text-light', $brand-light);
@include text-emphasis-overload('.text-black', $black);
@include text-emphasis-overload('.text-white', $white);

.fa-inverse {
  color: $white;
}

// }}}
// *******************************************************************
// Buttons {{{
// *******************************************************************
.btn {
  @include sans-serif-font;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}

.btn-accent {
  @include button-variant($btn-accent-color, $btn-accent-bg, $btn-accent-border);
}

.btn-outline-accent {
  @include button-outline-variant($btn-accent-bg);
}

// }}}
// *******************************************************************
// Navigation {{{
// *******************************************************************
.navbar {
  @include sans-serif-font;
  @include transition-all;
  min-height: 3rem;

  .navbar-brand {
    margin-right: 0;
    float: none;
  }

  .navbar-toggler {
    font-size: 1.5rem;
    padding: .25rem .5rem 0;
  }

  a {
    &.nav-link,
    &.nav-link:focus {
      color: $nav-link;
      font-size: .8rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    &.nav-link:hover {
      color: $nav-link-hover;
    }

    &.nav-link:hover::before {
      background-color: $nav-link-hover;
    }

    &.nav-link.active,
    &.nav-link.active:focus,
    &.nav-link.active:hover {
      color: $nav-link-active;
    }

    &.nav-link.active:hover::before {
      background-color: transparent;
    }
  }
}

.navbar-default {
  background-color: $nav-shaded;

  a {
    &.nav-link,
    &.nav-link:focus {
      color: $nav-link-shaded;
    }

    &.nav-link:hover {
      color: $nav-link-shaded-hover;
    }

    &.nav-link:hover::before {
      background-color: $nav-link-shaded-hover;
    }

    &.active.nav-link,
    &.active.nav-link:focus,
    &.active.nav-link:hover {
      color: $nav-link-shaded-active;
    }

    &.active.nav-link:hover::before {
      background-color: transparent;
    }
  }

  .dropdown {
    display: inline-block;
  }

  .dropdown-menu {
    background-color: $nav-shaded;
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    position: relative;
    text-align: right;

    a.nav-link::before,
    a.nav-link:hover::before {
      background-color: transparent;
    }
  }
}

@include media-breakpoint-down(md) {
  .navbar-nav .nav-item {
    float: none;
  }

}

@include media-breakpoint-up(lg) {
  .navbar {
    min-height: 3.5rem;

    &:not(.navbar-shaded) {
      background-color: transparent;
    }
  }

  a,
  a:focus {
    color: $nav-link;

    &:hover {
      color: $nav-link-hover;

      &::before {
        background-color: $nav-link-hover;
      }
    }
  }

  .navbar-default .dropdown-menu {
    float: right;
    left: auto;
    margin-top: .9rem;
    min-width: 160px;
    position: absolute;
    right: 0;

    .nav-link {
      margin-right: 1rem;
    }
  }
}

.navbar-toggler {
  color: $white;
}

.site-logo {
  height: 1.5rem;
  width: auto;
}

@include media-breakpoint-up(sm) {
  .site-logo {
    height: 2rem;
  }
}
// }}}
// *******************************************************************
// Header Section {{{
// *******************************************************************
header {
  @include background-cover;
  background-image: url("../images/header.jpg");
  background-position: center;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 30%;
}

.header-1 {
  background-image: url("../images/header-1.jpg");
}

.header-2 {
  background-image: url("../images/header-2.jpg");
}

.header-home {
  background-image: url("../images/header-home.jpg");
  min-height: 100%;

  @include media-breakpoint-up(lg) {
    .header-content {
      min-height: 100%;
      padding: 6rem 10rem;
      position: relative;
    }

    .header-content-inner {
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;

      p {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
      }
    }
  }
}

.header-content {
  padding: 5rem 2rem 2rem;
  position: relative;
  text-align: center;
  width: 100%;

  .header-content-inner {
    font-size: 1rem;
    margin-bottom: 5rem;
  }
}

// }}}
// *******************************************************************
// Sections, General {{{
// *******************************************************************
section {
  padding: 5rem 0;
}

main {
  @include media-breakpoint-up(lg) {
    position: relative;
    top: 0;
  }
}

// }}}
// *******************************************************************
// Sections, Specific {{{
// *******************************************************************
.instructor-title {
  font-style: italic;
}

.img-partner {
  display: inline-block;
}

// }}}
// *******************************************************************
// Cards {{{
// *******************************************************************
.card {
  background-color: $white;

  &.card-noborder {
    border: 0;
    box-shadow: none;
  }

  &.card-partner {
    background: transparent;
    border: 0;
    box-shadow: none;

    @include media-breakpoint-up(sm) {
      vertical-align: middle;
    }
  }
}

// }}}
// *******************************************************************
// Applications {{{
// *******************************************************************
.application-question {
  font-weight: bold;
}

.help-block.with-errors {
  color: $brand-danger;
}

// }}}
// *******************************************************************
// Tables {{{
// *******************************************************************

.table-bordered th, .table-bordered td {
    border: 2px solid #eceeef;
}

.table th {
  white-space: nowrap;
}

.table ul {
  margin-left: -1.3em;
}

.table-info {
  margin-bottom: 0;
  padding: 0.5rem;
}

.table-question {
  width: 50%;
}

.table-choices {
  text-align: center;
  width: 16.7%;
}

// }}}
// *******************************************************************
// Helpers {{{
// *******************************************************************
.img-fluid {
  // fix for firefox not respecting max-width
  width: 100%;
}

.no-gutter > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.row-padded {
  @include media-breakpoint-down(md) {
    padding-bottom: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1rem;
  }
}

// }}}
