@mixin transition-all() {
  transition: all 0.35s;
}

@mixin background-cover() {
  background-size: cover;
}

@mixin anchor($color) {
  a {
    color: darken($color, 25%);

    @include hover-focus {
      color: $color;
    }

    &::before {
      background-color: $color;
    }

    &.no-animate::before {
      background-color: transparent;
    }
  }
}

@mixin anchor-hover($color, $hover) {
  a {
    color: $color;

    @include hover-focus {
      color: $hover;
    }

    &::before {
      background-color: $hover;
    }

    &.no-animate::before {
      background-color: transparent;
    }
  }
}

@mixin background-color($parent, $color, $background) {
  #{$parent} {
    background-color: $background;
    color: $color;

    @include anchor($color);
  }
}

@mixin background-color-link($parent, $color, $background, $link, $hover) {
  #{$parent} {
    background-color: $background;
    color: $color;

    @include anchor-hover($link, $hover);
  }
}

@mixin text-emphasis-overload($parent, $color) {
  #{$parent} {
    color: $color;

    @include anchor($color);
  }
}

@mixin sans-serif-font() {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin serif-font() {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
