@charset "utf-8";

$gray-dark:        #373a3c;
$gray:             #55595c;
$gray-light:       #818a91;
$gray-lighter:     #eceeef;
$gray-lightest:    #f7f7f9;

$brand-primary:    #9b26af;
$brand-success:    #c7f464;
$brand-info:       #4ecdc4;
$brand-warning:    #f9dd34;
$brand-danger:     #c44d58;

$brand-accent:     #1de9b6;
$brand-alternate:  #7a1ea1;
$brand-dark:       #691a99;
$brand-light:      #d1c4e9;

$white:            #fff;
$black:            #2e2633;
