<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include head.html %}

<body id="page-top">
  {% include nav.html menu="home" %}
  {% include header.html %}

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Four Days of Hands-On Workshops</h2>
          <hr class="light">
          <p class="text-faded">The GC Digital Research Bootcamp is a four
            day workshop where you will learn how to use a range of tools
            and methods for doing digital research. There are multiple tracks
            targeted at different skillsets and disciplinary focuses.</p>
            <a href="#apply" class="btn btn-default btn-xl">Apply Now!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="topics">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Topics</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card-columns">
          {% for topic in site.data.workshops %}
          <div class="card card-block text-center">
            <span class="fa-stack fa-2x wow bounceIn text-primary">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa {{topic.icon}} fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="card-title">{{topic.title}}</h4>
            <p class="card-text">{{topic.description}}</p>
            <a class="btn btn-primary" href="workshops/#{{topic.link}}">More</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    {% include contact.html %}
    {% include footer.html %}
    {% include scripts.html %}
  </body>
  </html>
